<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Merken</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navController.back();">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal='end' *ngIf='fabIsVisible' [vertical]='verticalFabPosition' slot='fixed'>
    <ion-fab-button [routerLink]="['/home', 'auto', 'nieuwe-auto']">
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row *ngFor="let auto of (autos | async)">
    <ion-col size="12">
      <ion-card color="tertiary" [routerLink]="['/home', 'auto', auto._id]">
        <ion-card-content class='ion-text-center'>{{auto.merkNaam}}</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
